<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="idenfy" translate="label" sortOrder="300">
            <label>Idenfy</label>
        </tab>
        <section id="api_configuration" translate="label" showInDefault="1" showInWebsite="1">
            <class>separator-top</class>
            <label>API Configuration</label>
            <tab>idenfy</tab>
            <resource>Idenfy_CustomerVerification::config</resource>
            <group id="general" translate="label" showInDefault="1" showInWebsite="1" showInStore="0" sortOrder="10">
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>idenfy/general/enabled</config_path>
                </field>
                <field id="api_key" translate="label tooltip" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Key</label>
                    <config_path>idenfy/general/api_key</config_path>
                    <tooltip><![CDATA[You can follow the instructions <a href="https://documentation.idenfy.com/tutorials/admin-platform/ManageAPIKeys" target="_blank">here</a> to manage your API keys]]></tooltip>
                </field>
                <field id="api_secret" translate="label tooltip" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>API Secret</label>
                    <config_path>idenfy/general/api_secret</config_path>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <tooltip><![CDATA[You can follow the instructions <a href="https://documentation.idenfy.com/tutorials/admin-platform/ManageAPIKeys" target="_blank">here</a> to manage your API keys]]></tooltip>
                </field>
            </group>
        </section>
    </system>
</config>
